@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
    --color-white: #FFFFFF;
    --color-black: #222222;
    --color-accent-1: ##a17864;
    --color-accent-1: ##624645;
    --color-accent-1: ##381e1d;
}