@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

:root {
    --scroll-top: 0px;
    --color-white: #ffffff;
    --color-white: #ffffff;
    --color-black: #222222;
    --color-accent-1: #a17864;
    --color-accent-1: #624645;
    --color-accent-1: #381e1d;
}

* {
    font-family: "Merriweather Sans", "Varela Round" !important;
    box-sizing: border-box;
}

/* Saunatyypit. Parallax  */

.saunatyypit {
    position: relative;
    font-size: 4rem;
    height: 100vh;
    background-color: #000000;
}

.layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
    color: var(--color-black);
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    vertical-align: bottom;
}

.saunaheading {
    font-size: 1.8rem;
    font-weight: bold;
    color: whitesmoke;
}

.saunatext1 {
    font-size: 1.6rem;
    color: whitesmoke;
    float: left;
    width: 35%;
    margin-left: 3rem;
    margin-top: 0rem;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.45);
}

.saunatext2 {
    font-size: 1.6rem;
    color: whitesmoke;
    float: right;
    width: 30%;
    margin-right: 3rem;
    margin-top: 7rem;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 30px;
}

.layers__header {
    transform: translate3d(0, calc(var(--scrollTop) / 100), 0);
    z-index: 0;
}

.layers__caption1 {
    transform: translate3d(0, calc(var(--scrollTop) / 9), 0);
    z-index: 1;
}

.layers__caption2 {
    transform: translate3d(0, calc(var(--scrollTop) / 15), 0);
    z-index: 2;
}

@media only screen and (max-width: 425px) {
    .saunatyypit {
        font-size: 1.8rem;
    }
    .saunaheading {
        font-size: 1.3rem;
    }

    .saunatext1 {
        font-size: 0.8rem;
        width: 40%;
        margin-left: 2rem;
        margin-top: 0rem;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .saunatext2 {
        font-size: 0.8rem;
        width: 40%;
        margin-right: 2rem;
        margin-top: 1rem;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    .saunatyypit {
        font-size: 2.5rem;
    }
    .saunaheading {
        font-size: 1.2rem;
    }

    .saunatext1 {
        font-size: 1rem;
        width: 35%;
        margin-left: 3rem;
        margin-top: 0rem;
    }

    .saunatext2 {
        font-size: 1rem;
        width: 35%;
        margin-right: 3rem;
        margin-top: 4rem;
    }
}

/* Hinnasto-sivu tyylit */

.hinnasto {
    min-height: 100vh;
    background-size: cover;
    position: relative;
    border: 1rem solid black;
}

.hinnasto-content {
    margin-top: 0;
    text-align: center;
}

.hinnasto-title {
    font-size: 4rem;
    color: whitesmoke;
    padding: 2rem;
}

.hinnat {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.45);
    line-height: 1.7;
    justify-content: center;
    width: 100%;
}

.hinnat2 {
    margin-top: 5rem;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.45);
    line-height: 1.7;
    justify-content: center;
    width: 100%;
}

.tablehinnat {
    padding: 0.5rem;
    font-size: 1.5rem;
}

.hinnatmain {
    vertical-align: middle;
    font-size: 2rem;
}

.varausbtn {
    margin-top: 2rem;
    padding: 2rem;
    font-size: 2rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.45);
    color: whitesmoke;
    border-radius: 10px;
}
.varausbtn:hover {
    background-color: whitesmoke;
    color: #000000;
    font-size: 2.2rem;
    box-shadow: 5px 5px 5px #ffffffdb;
}

@media only screen and (max-width: 425px) {
    .hinnasto-title {
        font-size: 1.8rem;
        color: whitesmoke;
        padding: 1rem;
    }

    .hinnat {
        color: whitesmoke;
        background-color: rgba(0, 0, 0, 0.45);
        line-height: 1.1;
        justify-content: center;
        width: 100%;
    }

    .hinnat2 {
        margin-top: 5rem;
        color: whitesmoke;
        background-color: rgba(0, 0, 0, 0.45);
        line-height: 1.1;
        justify-content: center;
        width: 100%;
    }

    .tablehinnat {
        padding: 0.5rem;
        font-size: 0.8rem;
    }

    .hinnatmain {
        vertical-align: middle;
        font-size: 1.1rem;
    }

    .varausbtn {
        margin-top: 2rem;
        padding: 1.2rem;
        font-size: 1.2rem;
        border: none;
        background-color: rgba(255, 255, 255, 0.45);
        color: whitesmoke;
        border-radius: 10px;
    }
    .varausbtn:hover {
        background-color: whitesmoke;
        color: #000000;
        font-size: 1.4rem;
        box-shadow: 5px 5px 5px #ffffffdb;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    .hinnasto-title {
        font-size: 2.5rem;
        color: whitesmoke;
        padding: 2rem;
    }

    .hinnat,
    .hinnat2 {
        line-height: 1.4;
    }

    .tablehinnat {
        padding: 0.5rem;
        font-size: 1.2rem;
    }

    .hinnatmain {
        font-size: 1.4rem;
    }

    .varausbtn {
        margin-top: 2rem;
        padding: 1.5rem;
        font-size: 1.4rem;
    }
    .varausbtn:hover {
        background-color: whitesmoke;
        color: #000000;
        font-size: 1.6rem;
        box-shadow: 5px 5px 5px #ffffffdb;
    }
}

/* Carousel and text styles */

.carousel_text {
    height: 100vh;
    align-items: center;
    background-color: #000000;
}

.carousel-item {
    border: #000000 solid 1rem;
    height: 90vh;
}
.citytitle {
    font-size: 3.5rem;
    font-weight: 500;
    justify-self: center;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 40%;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    background: linear-gradient(rgba(56, 66, 96, 0.56), #aaaaaa80);
}

.aboutsauna {
    margin: 0 1rem 1rem 1rem;
    width: 90%;
}

.textaboutsauna {
    background-color: rgba(255, 255, 255, 0.56);
    color: #fff;
    border-radius: 10px;
    padding: 0.2rem;
    text-align: center;
    font-size: 1.2rem;
}

@media only screen and (max-width: 425px) {
    .carousel_text {
        height: 70vh;
        display: flex;
        flex-direction: column;
    }
    .aboutsauna {
        width: 100%;
        margin-top: 2rem;
    }
    .textaboutsauna {
        background-color: rgba(255, 255, 255, 0.56);
        color: #fff;
        border-radius: 10px;
        padding: 0.2rem;
        text-align: center;
        font-size: 0.8rem;
    }
    .carousel-item {
        height: 45vh;
    }

    .carousel-indicators {
        display: none;
    }

    .carousel-caption {
        right: 0;
        bottom: 40%;
        left: 0;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
    .citytitle {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    .carousel_text {
        display: flex;
        flex-direction: column;
    }

    .aboutsauna {
        width: 100%;
    }

    .textaboutsauna {
        font-size: 1.3rem;
    }

    .carousel-item {
        height: 75vh;
    }
}
